.listings--category-banner {
  @include row-center;
  height: 82px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.listings--category-banner--text {
  @include text-title-large;
}

.listings--filter--item {
  list-style: none;
}

.listings--count, .listings--viewed {
  @include row-center;
  color: #999;
  line-height: 20px;
  list-style: none;

  h3 {
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: normal;
  }
}

.listings--count {
  h3 {
    padding: 16px 0px 4px;
    margin: 0px;
  }
}

.listings--viewed {
  padding: 0px 10px 0px 10px;
}

.listings--grid-wrapper {
  background-color: #FFFFFF;
}

.listings--products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
}

.listings--product {
  margin: 10px;
  @include col-top-left;
  cursor: pointer;
}

.listings--product-img {
  width: 300px;
}

.listings--product-title {
  width: 300px;
  height: 30px;
  margin: 18px 0px;
  word-wrap: break-word;
  line-height: 30px;
  font-size: $ft-sz-3;
  color: $grey-4;
  letter-spacing: $letter-spacing-1;
  font: $text-font-stack;
  font-size: 14px;
}

.listings--product-price {
  width: 300px;
  font-weight: bolder;
  color: #666;
  letter-spacing: $letter-spacing-3;
  margin: 18px 0px;
  font-size: $ft-sz-3;
}

.listings--load-more {
  @include row-center;

  &-text {
    @include text-title-medium;
    font-size: 14px;
    color: #2d2d2d;
    border: 2px solid #ddd;
    padding: 15px 80px 15px 80px;
    margin: 0px 16px 20px 16px;
  }
}