// text
$text-font-stack: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
$text-font-stack-2: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;

// colors
$white-1: #fff;
$white-3: #eee;
$white-4: #ddd;
$grey-1: #999;
$grey-2:  #666;
$grey-4: #2d2d2d;
$black-1: #222;
$spring: #EA92B2;

// font-size
$ft-sz-1: 11px;
$ft-sz-2: 14px;
$ft-sz-3: 1rem;
$ft-sz-4: 16px;
$ft-sz-5: 18px;
$ft-sz-6: 28px;
$ft-sz-7: 50px;

//font-weights
$weight-1: bold;
$weight-2: bolder;
$weight-3: 700;
$weight-4: 400;

//letter-spacing
$letter-spacing-1: .4px;
$letter-spacing-2: 1.4px;
$letter-spacing-3: 2px;
$letter-spacing-4: 4px;