.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
}

.ecom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background: #DDDDDD;

  p, ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-size: 11px;
    margin-left: 3%;
    letter-spacing: .4px;
  }

  li {
      list-style-position:inside;
      border-left: 1px solid #2d2d2d;
      padding: 0px 19px;
      color: #666666;
      font-size: 11px;
  }
}

.footer-nav-links {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  height: 240px;
  background: #EEEEEE;

  li {
      list-style-position:inside;
      padding: 8px;
      color: #666666;
      font-size: 11px;
  }

  h4 {
    font-style: bolder;
    letter-spacing: 1.4px;
    margin-bottom: 0px;
  }

  .shopping-from {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    
    li {
      list-style-position:inside;
      padding: 0px 19px;
      color: #666666;
      font-size: 14px;
    }

    img {
      width: 18px;
      height: 18px;
      padding: 0px 17px;
    }
  }

  
}


.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;

    img {
      width: 30px;
      height: auto;
      padding: 0px 17px;
    }

    .social-icons {
      border-right: 1px solid #999;
    }
  }

  .social-icons, .payment-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

