
// title
@mixin text-title-xlarge {
  font-size: $ft-sz-7;
  line-height: 36px;
  font-weight: $weight-2;
  letter-spacing: 1.2px;
}

@mixin text-title-large {
  font-size: $ft-sz-6;
  line-height: 36px;
  font-weight: $weight-2;
  letter-spacing: 1.2px;
}

@mixin text-title-medium {
  font-size: $ft-sz-2;
  font-weight: $weight-2;
  font-weight: $weight-3;
  font-size: $ft-sz-5;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2.3px;
}

@mixin text-title-small {
  font-size: $ft-sz-2;
  font-weight: $weight-2;
  letter-spacing: 2px;
}

// body
@mixin text-body {
  font-size: $ft-sz-1;
  font-weight: none;
}