

%row {
  width: 100%;
}

%footer {
  @extend %row;
  position: relative;
  bottom: 0px;
}

%container-padding {
  padding: 32px;
}

%container-gutter {
  padding: 0px 32px 0px 32px;
}

%list-item {
  line-height: 28px;
}

%bar-item {
  line-height: 50px;
}

%grid-one-four {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

%ui-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

%list-title {
  margin: 0px 0px 10px 0px;
}

%icon-small {
  height: 15px;
  width: 15px;
  margin: 6px 10px 0px 10px;
}

%icon-large {
  width: 30px;
  margin: 20px 25px 20px 25px;
}

%icon-medium {
  width: 30px;
  margin: 20px 20px 20px 20px;
}

%gutter-1 {
  margin: 0px 6px 0px 6px;
}


.footer {
  @extend %footer;
}

.FooterIcons {
  @include row-center;
  border-top: 1px solid #eee;
}

.FooterIcons__List {
  @include row-center;
  @extend %ui-list;
  max-height: 50px;
}

.FooterIcons__Icon_type_social {
  @extend %icon-large;
  margin-top: 14px;
  margin-bottom: 14px;
}

.FooterIcons__Icon_type_payment {
  @extend %icon-medium;
  margin-top: 16px;
  margin-bottom: 16px;
}

.FooterIcons__Separator_type_vertical {
  border-left: 1px solid grey;
  height: 20px;
  margin: 0px 25px 0px 25px;
}





.FooterNavLinks {
  @extend %grid-one-four;
  padding: 28px 32px 28px 32px;
  background: $white-3;
}

.FooterNavLinks__list {
  @extend %ui-list;
}

.FooterNavLinks__title {
  @extend %list-title;
  @include text-title-small;
  color: $grey-2;
}

.FooterNavLinks__listItem {
  @extend %list-item;
  @include text-body;
  color: $grey-2;
}

.FooterNavLinks__shipping {
  @include row-left-top;
  @extend %ui-list;
  @extend %list-item;
}

.FooterNavLinks__shipping_country {
  font-size: 11px;
  color: $grey-2;
}

.FooterNavLinks__shipping_change {
  @include text-title-small;
  color: $grey-2;
}

.FooterNavLinks__shipping_icon {
  @extend %icon-small;
}

.FooterEcom {
  @extend %container-gutter;
  @include row-between;
  background: $white-4;
}

.FooterEcom__List {
  @include row-center;
  @extend %ui-list;
}

.FooterEcom__Text {
  @extend %bar-item;
  @extend %gutter-1;
  font-size: $ft-sz-1;
  color: $grey-2;
}

.FooterEcom__Text_type_copyright {
  @extend %bar-item;
  font-size: $ft-sz-1;
  letter-spacing: $letter-spacing-1;
  color: $grey-2;
}

.FooterEcom__Separator_type_vertical {
  border-left: 1px solid grey;
  height: 10px;
  margin: 0px 6px 0px 6px;
}

