// e-commerce bar
.ecom-bar {
  @include row-right-center;
  height: 30px;
  color: #f9f9f9;
}

.ecom--list {
  @include row-left-center;
  list-style: none;
  margin-right: 33px;
  border-right: 1px solid #ddd;
}

.ecom-list--item {
  line-height: 30px;
  padding: 0px 20px;
  border-left: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: .4px;
  font-family: $text-font-stack;
  color: $grey-2;
}

.ecom-list--item-img {
  border-left: 1px solid #ddd;
}

.shipping--icon {
  @include shipping-icon;
  width: 16px;
  height: 16px;
  padding: 0px 17px;
  align-content: center;
  line-height: 100%;
  align-items: center;
  padding-top: 4.5px;
}

// toolbar
.toolbar {
  @include row-between;
  background-color: $grey-4;
  height: 60px
}

.toolbar--business {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  width: 30%;
  margin-right: 20px;
  padding-left: 0px;
}

.toolbar--busienss--item {
  @include flex-item-perf-center;
  line-height: 99%;
  font-size: .875rem;
  font-family: futura-pt,sans-serif;
  text-align: center;
  color: $grey-2;
  letter-spacing: 2px;
  font-weight: 900;
  color: white;
  padding: 24px 24px;
  border-left: 1px solid $grey-3;
  width: 65px;
  border-style: border-box;
}

.toolbar--business--logo {
  @include flex-item-perf-center;
  width: 104px;
  height: 30px;
  margin-right: 24px;
  padding-left: 48px;
  display: flex;
}

.toolbar--search {
  @include row-center;
  @include col-two-thirds;
  line-height: 80px;
  width: 705px;
}

.toolbar--search--input {
  background-color:  $white-1;
  color: $grey-2;
  width: 100%;
  background-image: url('https://workofthefuture.mit.edu/themes/custom/wof/images/search.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 99%;
  background-size: 25px 25px;
  font-size: 1rem;
  border: 0;
  height: 38px;
  border-radius: 19px/50%;
  padding-left: 16px;
  padding-right: 46px;
  box-sizing: border-box;
  color: #2d2d2d;
  text-align: left;

}

.toolbar--profile {
  @include col-top-left;
  margin-right: 20px;
  height: 100%;
  line-height: 50px;
  padding-left: 0px;
}

.toolbar--profile--icons {
  width: calc(100% / 1.5);
  color: $white-1;
  display: flex;
  margin-right: 20px;
  padding-left: 0px;
  margin-top: 22px;

  i {
    @include flex-item-perf-center;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
    margin: 0px 17px;
  }
}

// Account Dropdown

.account-dropdown {
  @include col-top-left;
  z-index: 99;
  position: absolute;
  top: 91px;
  right: 22px;
  width: 334px;
  background: $white-1;
  border: 1px solid $white-5;
  box-shadow: -2px 2px 4px 0 rgba(45,45,45,.14);
  display: none;
}

.toolbar--profile:hover .account-dropdown {
  display: flex;
}

.account-dropdown--auth {
  @include row-left-center;
  justify-content: flex-start;
  background-color: $white-2;
  height: 50px;
  box-sizing: border-box;
  margin-left: 0px;
  line-height: 50px;
  color: $grey-3;
  padding-left: 5px;
  width: 100%;
}

.account-dropdown--auth--user {
  font-weight: $weight-1;
  color: $grey-4;
  font-size: 16tpx;
  letter-spacing: 1px;
  margin-left: 16px;
}

.account-dropdown--auth--logout {
  font-size: 14px;
  padding-left: 15px;
  text-decoration: underline;
}

.account-dropdown--auth--auth-links {
  letter-spacing: $letter-spacing-1;
  cursor: pointer;
  display: inline;
  text-decoration: underline;
  padding-left: 10px;
}

.account-dropdown--auth--auth-seperator {
  cursor: none;
  padding-left: 10px;
}

.account-dropdown--options {
  @include col-top-left;
  padding-left: 20px;
}

.account-dropdown--option {
  padding-left: 20px;
  font-size: 14px;
  border-bottom: 1px solid $white-5;
  width: 294px;
}

.account-dropdown--option-last {
  padding-left: 20px;
  font-size: 14px;
  border-bottom: none;
  width: 294px;
}


// categorybar

.category-bar {
  z-index: -2;
  @include row-left-top;
  background-color: $grey-3;
  height: 50px;
}

.category-bar--options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: inherit;
  width: 100%;
  list-style: none;
  padding: 0px 0px;
  margin: 0px 30px;
  align-content: left;
  justify-content: flex-start;
}

.category-bar--option {
  @include flex-item-perf-center;
  color: white;
  padding: 0px 10px;
  font-weight: none;
  text-align: center; 
  line-height: 50px;
  border: none;
  background-color: #525050;
  margin: 0;
  font-size: .875rem;
  font-family: futura-pt,sans-serif;
  @include text-body;
  font-size: 12px;
  letter-spacing: 1px;
}

.category-bar--feature {
  @include flex-item-perf-center;
  @include text-title-small;
  margin-top: 42%;
  background: #f20038;
  position: relative;
  top: -17px;
  height: 50px;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 70px;
  margin: 17px 0px;
}

.category-bar--feature p {
  color: white;
  font-weight: none;
  text-align: center; 
  line-height: 50px;
  border: none;
  font-size: .875rem;
  font-family: futura-pt,sans-serif;
  @include text-body;
  font-size: 12px;
  letter-spacing: 1px;
}

