.general-btn {
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  padding: 9px 20px;
  text-align: center;
  line-height: 39px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.style-feed-btn {
  background: $white-2;
  box-sizing: border-box;
  padding: 9px 20px;
  text-align: center;
  line-height: 39px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

// .next-btn {

// }

// .prev-btn {
  
// }

.btn--view-all {
  background: black;
  padding: 35px 8px;
  border-radius: 50%;
  color: white;
  top: 25%;
  position: relative;
}