.basic-error-box {
  background-color: #FAE7EC;
  padding: 10px;
  // display: inline-block;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}